@model Recuperativa.Models.Vaca

<h2>Ficha Vaca</h2>

<fieldset class="form-horizontal">
    <legend class="label">Informacion de la vaca</legend>
    <label class="control-label">Diio</label>
    <div class="form-group">
        <div class="text-muted">@Html.DisplayFor(m => m.Diio)</div>
    </div>
    <label class="control-label">Nombre</label>
    <div class="form-group">
        <div class="text-muted">@Html.DisplayFor(m => m.Nombre)</div>
    </div>
    <label class="control-label">Sexo</label>
    <div class="form-group">
        <div class="text-muted">@Html.DisplayFor(m => m.Sexo)</div>
    </div>
    <label class="control-label">Raza</label>
    <div class="form-group">
        <div class="text-muted">@Html.DisplayFor(m => m.Raza)</div>
    </div>
    <label class="control-label">Produccion de leche diaria</label>
    <div class="form-group">
        <div class="text-muted">@Html.DisplayFor(m => m.Leche)</div>
    </div>


</fieldset>